<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Faulkner">
    <meta name="description" content="GoobyDesk Reports Home">
    <meta name="robots" content="noindex, nofollow"> <!--Discourage Search Engine Indexing of this page-->
    <meta name="theme-color" content="#284389"> <!-- Mobile Browser stylized address bar.-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Force IE to use latest rendering engine available.-->
    <meta http-equiv="refresh" content="600">
    <!-- Performance Enhancements -->
    <link rel="preconnect" href="https://fonts.bunny.net/css">
    <link rel="preconnect" href="https://fonts.bunny.net/css" crossorigin>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <!-- Local CSS and JavaScript Imports-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='helpdesk.js') }}"></script>
    <script src="{{ url_for('static', filename='alerts.js') }}" defer></script>
    <title>GoobyDesk - In-Ticket View</title>

</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/GoobyFRS/GoobyDesk/refs/heads/main/static/GoobyDesk-color.webp" alt="GoobyDesk Logo">
        </div>
        <h2>Ticket Commander</h2>

        <div class="ticket-details">
            <p><strong>Ticket Number:</strong> {{ ticket.ticket_number }}</p>
            <p><strong>Submitted By:</strong> {{ ticket.requestor_name }} ({{ ticket.requestor_email }})</p>
            <p><strong>Subject:</strong> {{ ticket.ticket_subject }}</p>
            <p><strong>Type:</strong> {{ ticket.request_type }}</p>
            <p><strong>Impact:</strong> {{ ticket.ticket_impact }}</p>
            <p><strong>Urgency:</strong> {{ ticket.ticket_urgency }}</p>
            <p><strong>Status:</strong> {{ ticket.ticket_status }}</p>
            <p><strong>Ticket Content:</strong> {{ticket.ticket_message}}</p>
            <p><strong>End User Replies:</strong> {{ticket.ticket_notes}}</p>
        </div>

        <button class="status-btn" onclick="updateTicketStatus('{{ ticket.ticket_number }}', 'In-Progress')">Mark In-Progress</button>
        <button class="close-tkt-btn" onclick="updateTicketStatus('{{ ticket.ticket_number }}', 'Closed')">Close Ticket</button>
        <br>
        <textarea id="noteContent" placeholder="Append a ticket note...."></textarea>
        <br>
        <button class="addNote-btn" onclick="submitNote('{{ ticket.ticket_number }}')">Add Note</button>
        <p class="footer-text">©2025 GoobyDesk, FOSS created by GoobyFRS | Logged In as: {{ loggedInTech }} | <a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
    </div>
</body>
</html>
